.content {
    width: 640px;
    height: 640px;
    margin: 100px auto;
    position: relative;
    background-color: #1b6d85;
    clear: both;
    overflow:hidden;
}
.sma {
    float: left;
    margin: 20px;
    width: 600px;
    height: 600px;
    background: rgba(0,0,0,0.3);
}
.btnn{
    width: 200px;
    height: 100px;
    font-size: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.startBtn{
    width: 200px;
    height: 76px;
    background-image: url("../img/play.png");
    background-size: 100%;
}

.pauseBtn{
    width: 150px;
    height: 143px;
    background-image: url("../img/stop.png");
    background-size: 100%;
}
.play{
    background: none;
    border: none;
}

.stop{
    background: none;
    border: none;
    /*background-size: 100% 100%;*/
    /*cursor: pointer;*/
    /*outline: none;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
}
/*.startBtn button{*/
/*    width: 200px;*/
/*    height: 80px;*/
/*    background-image: url("../img/play.jpg");*/
/*}*/
